@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap");
.header__logo {
  height: 25%; }

.header__logo-img {
  height: 5.438vh;
  margin-top: 3vh; }

.main__title {
  width: 100%;
  font-family: Montserrat;
  font-size: 1.9vw;
  font-weight: bold;
  color: #02119e; }

.main__text {
  width: 90%;
  margin-top: 8vh;
  font-family: Montserrat;
  font-size: 1vw;
  color: #404966;
  line-height: 36px;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 3s;
          animation-duration: 3s; }

.main__text-style {
  width: 90%;
  margin-top: 25vh;
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: bold;
  color: #02119e;
  -webkit-animation-name: show;
          animation-name: show;
  -webkit-animation-duration: 4s;
          animation-duration: 4s; }
  .main__text-style a {
    text-decoration: none;
    color: #02119e; }
    .main__text-style a:hover {
      color: #02119e; }

@media (max-width: 414px) {
  .row {
    height: 100%; }
  .mobile__container {
    -webkit-transform: translate(0, -150%);
        -ms-transform: translate(0, -150%);
            transform: translate(0, -150%);
    margin-top: 10vh;
    height: 30vh;
    width: 100vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .main__title {
    font-size: 36px;
    color: white;
    text-align: center;
    display: inline-block; }
  .main__text {
    font-size: 16px;
    color: white;
    text-align: center;
    display: inline-block;
    width: 75%; } }

.footer__style {
  margin-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer__logo {
  height: 3vh;
  display: block;
  padding-right: 4vw; }

.footer__text-style {
  font-family: Montserrat;
  font-size: 1vw;
  font-weight: bold;
  color: #02119e; }

.popup-container {
  width: 30%;
  background-color: rgba(255, 255, 255, 0.9);
  display: none;
  -webkit-box-pack: ceneter;
      -ms-flex-pack: ceneter;
          justify-content: ceneter;
  -webkit-box-align: ceneter;
      -ms-flex-align: ceneter;
          align-items: ceneter;
  position: absolute;
  top: 50%;
  left: 68%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 0.2vw solid black;
  border-radius: 10px;
  padding: 2vh;
  font-family: Montserrat;
  font-size: 1vw;
  color: #404966;
  -webkit-animation-name: show-form;
          animation-name: show-form;
  -webkit-animation-duration: 3s;
          animation-duration: 3s; }

@media (max-width: 414px) {
  .popup-container {
    display: none; } }

.logo-container {
  height: 100%;
  height: 100vh; }

.logo__style {
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left bottom, right top, from(#2923ef), color-stop(#201edb), color-stop(#1719c7), color-stop(#0c14b4), to(#010fa1));
  background: -o-linear-gradient(left bottom, #2923ef, #201edb, #1719c7, #0c14b4, #010fa1);
  background: linear-gradient(to right top, #2923ef, #201edb, #1719c7, #0c14b4, #010fa1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative; }
  .logo__style::before {
    content: "";
    position: absolute;
    height: 30px;
    width: 30px;
    background-color: #4cd639;
    border-radius: 50%;
    left: 0;
    top: 25.8vh;
    -webkit-transform: translate(-51%, 0);
        -ms-transform: translate(-51%, 0);
            transform: translate(-51%, 0); }

.logo__style-img {
  height: 50vh; }

@media (max-width: 414px) {
  .logo-container {
    background: none;
    height: 80vh;
    width: 100%; }
  .logo__style-img {
    height: 45%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%); } }

@media (max-width: 414px) {
  .logo__style::before {
    display: none; } }

.show-on-desktop-only {
  display: none; }
  @media (min-width: 768px) {
    .show-on-desktop-only {
      display: block; } }

.text__green {
  color: #4cd639;
  font-weight: bold; }

.text__blue {
  color: #02119e;
  font-weight: bold; }

@media (max-width: 414px) {
  .row {
    background: -webkit-gradient(linear, left bottom, right top, from(#2923ef), color-stop(#201edb), color-stop(#1719c7), color-stop(#0c14b4), to(#010fa1));
    background: -o-linear-gradient(left bottom, #2923ef, #201edb, #1719c7, #0c14b4, #010fa1);
    background: linear-gradient(to right top, #2923ef, #201edb, #1719c7, #0c14b4, #010fa1); }
  .text__blue {
    color: white; } }

@-webkit-keyframes show {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%); }
  to {
    opacity: 1; } }

@keyframes show {
  from {
    opacity: 0;
    -webkit-transform: translate(0, 50%);
            transform: translate(0, 50%); }
  to {
    opacity: 1; } }

@-webkit-keyframes show-form {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes show-form {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbInN0eWxlLmNzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFBQSxvR0FBb0c7QUFDcEc7RUFDRSxXQUFXLEVBQUU7O0FBRWY7RUFDRSxlQUFlO0VBQ2YsZUFBZSxFQUFFOztBQUVuQjtFQUNFLFdBQVc7RUFDWCx1QkFBdUI7RUFDdkIsZ0JBQWdCO0VBQ2hCLGlCQUFpQjtFQUNqQixjQUFjLEVBQUU7O0FBRWxCO0VBQ0UsVUFBVTtFQUNWLGVBQWU7RUFDZix1QkFBdUI7RUFDdkIsY0FBYztFQUNkLGNBQWM7RUFDZCxpQkFBaUI7RUFDakIsNEJBQW9CO1VBQXBCLG9CQUFvQjtFQUNwQiw4QkFBc0I7VUFBdEIsc0JBQXNCLEVBQUU7O0FBRTFCO0VBQ0UsVUFBVTtFQUNWLGdCQUFnQjtFQUNoQix1QkFBdUI7RUFDdkIsY0FBYztFQUNkLGlCQUFpQjtFQUNqQixjQUFjO0VBQ2QsNEJBQW9CO1VBQXBCLG9CQUFvQjtFQUNwQiw4QkFBc0I7VUFBdEIsc0JBQXNCLEVBQUU7RUFDeEI7SUFDRSxxQkFBcUI7SUFDckIsY0FBYyxFQUFFO0lBQ2hCO01BQ0UsY0FBYyxFQUFFOztBQUV0QjtFQUNFO0lBQ0UsWUFBWSxFQUFFO0VBQ2hCO0lBQ0Usc0NBQThCO1FBQTlCLGtDQUE4QjtZQUE5Qiw4QkFBOEI7SUFDOUIsZ0JBQWdCO0lBQ2hCLFlBQVk7SUFDWixZQUFZO0lBQ1osb0JBQWE7SUFBYixvQkFBYTtJQUFiLGFBQWE7SUFDYix5QkFBbUI7UUFBbkIsc0JBQW1CO1lBQW5CLG1CQUFtQjtJQUNuQiw0QkFBc0I7SUFBdEIsNkJBQXNCO1FBQXRCLDBCQUFzQjtZQUF0QixzQkFBc0IsRUFBRTtFQUMxQjtJQUNFLGVBQWU7SUFDZixZQUFZO0lBQ1osa0JBQWtCO0lBQ2xCLHFCQUFxQixFQUFFO0VBQ3pCO0lBQ0UsZUFBZTtJQUNmLFlBQVk7SUFDWixrQkFBa0I7SUFDbEIscUJBQXFCO0lBQ3JCLFVBQVUsRUFBRSxFQUFFOztBQUVsQjtFQUNFLGVBQWU7RUFDZixvQkFBYTtFQUFiLG9CQUFhO0VBQWIsYUFBYTtFQUNiLHlCQUFtQjtNQUFuQixzQkFBbUI7VUFBbkIsbUJBQW1CLEVBQUU7O0FBRXZCO0VBQ0UsV0FBVztFQUNYLGNBQWM7RUFDZCxrQkFBa0IsRUFBRTs7QUFFdEI7RUFDRSx1QkFBdUI7RUFDdkIsY0FBYztFQUNkLGlCQUFpQjtFQUNqQixjQUFjLEVBQUU7O0FBRWxCO0VBQ0UsVUFBVTtFQUNWLDBDQUEwQztFQUMxQyxhQUFhO0VBQ2IseUJBQXdCO01BQXhCLHNCQUF3QjtVQUF4Qix3QkFBd0I7RUFDeEIsMEJBQW9CO01BQXBCLHVCQUFvQjtVQUFwQixvQkFBb0I7RUFDcEIsa0JBQWtCO0VBQ2xCLFFBQVE7RUFDUixTQUFTO0VBQ1Qsd0NBQWdDO01BQWhDLG9DQUFnQztVQUFoQyxnQ0FBZ0M7RUFDaEMseUJBQXlCO0VBQ3pCLG1CQUFtQjtFQUNuQixZQUFZO0VBQ1osdUJBQXVCO0VBQ3ZCLGNBQWM7RUFDZCxjQUFjO0VBQ2QsaUNBQXlCO1VBQXpCLHlCQUF5QjtFQUN6Qiw4QkFBc0I7VUFBdEIsc0JBQXNCLEVBQUU7O0FBRTFCO0VBQ0U7SUFDRSxhQUFhLEVBQUUsRUFBRTs7QUFFckI7RUFDRSxZQUFZO0VBQ1osYUFBYSxFQUFFOztBQUVqQjtFQUNFLFdBQVc7RUFDWCxZQUFZO0VBQ1osdUpBQXNGO0VBQXRGLHdGQUFzRjtFQUF0RixzRkFBc0Y7RUFDdEYsb0JBQWE7RUFBYixvQkFBYTtFQUFiLGFBQWE7RUFDYix5QkFBbUI7TUFBbkIsc0JBQW1CO1VBQW5CLG1CQUFtQjtFQUNuQix3QkFBdUI7TUFBdkIscUJBQXVCO1VBQXZCLHVCQUF1QjtFQUN2QixrQkFBa0IsRUFBRTtFQUNwQjtJQUNFLFdBQVc7SUFDWCxrQkFBa0I7SUFDbEIsWUFBWTtJQUNaLFdBQVc7SUFDWCx5QkFBeUI7SUFDekIsa0JBQWtCO0lBQ2xCLE9BQU87SUFDUCxXQUFXO0lBQ1gscUNBQTZCO1FBQTdCLGlDQUE2QjtZQUE3Qiw2QkFBNkIsRUFBRTs7QUFFbkM7RUFDRSxZQUFZLEVBQUU7O0FBRWhCO0VBQ0U7SUFDRSxnQkFBZ0I7SUFDaEIsWUFBWTtJQUNaLFdBQVcsRUFBRTtFQUNmO0lBQ0UsV0FBVztJQUNYLHFDQUE2QjtRQUE3QixpQ0FBNkI7WUFBN0IsNkJBQTZCLEVBQUUsRUFBRTs7QUFFckM7RUFDRTtJQUNFLGFBQWEsRUFBRSxFQUFFOztBQUVyQjtFQUNFLGFBQWEsRUFBRTtFQUNmO0lBQ0U7TUFDRSxjQUFjLEVBQUUsRUFBRTs7QUFFeEI7RUFDRSxjQUFjO0VBQ2QsaUJBQWlCLEVBQUU7O0FBRXJCO0VBQ0UsY0FBYztFQUNkLGlCQUFpQixFQUFFOztBQUVyQjtFQUNFO0lBQ0UsdUpBQXNGO0lBQXRGLHdGQUFzRjtJQUF0RixzRkFBc0YsRUFBRTtFQUMxRjtJQUNFLFlBQVksRUFBRSxFQUFFOztBQUVwQjtFQUNFO0lBQ0UsVUFBVTtJQUNWLG9DQUE0QjtZQUE1Qiw0QkFBNEIsRUFBRTtFQUNoQztJQUNFLFVBQVUsRUFBRSxFQUFFOztBQUxsQjtFQUNFO0lBQ0UsVUFBVTtJQUNWLG9DQUE0QjtZQUE1Qiw0QkFBNEIsRUFBRTtFQUNoQztJQUNFLFVBQVUsRUFBRSxFQUFFOztBQUVsQjtFQUNFO0lBQ0UsVUFBVSxFQUFFO0VBQ2Q7SUFDRSxVQUFVLEVBQUUsRUFBRTs7QUFKbEI7RUFDRTtJQUNFLFVBQVUsRUFBRTtFQUNkO0lBQ0UsVUFBVSxFQUFFLEVBQUU7O0FBRWxCO0VBQ0UsOEJBQXNCO1VBQXRCLHNCQUFzQjtFQUN0QixTQUFTO0VBQ1QsVUFBVSxFQUFFIiwiZmlsZSI6InN0eWxlLmNzcyIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgdXJsKFwiaHR0cHM6Ly9mb250cy5nb29nbGVhcGlzLmNvbS9jc3MyP2ZhbWlseT1Nb250c2VycmF0OndnaHRAMzAwOzQwMDs3MDA7OTAwJmRpc3BsYXk9c3dhcFwiKTtcbi5oZWFkZXJfX2xvZ28ge1xuICBoZWlnaHQ6IDI1JTsgfVxuXG4uaGVhZGVyX19sb2dvLWltZyB7XG4gIGhlaWdodDogNS40Mzh2aDtcbiAgbWFyZ2luLXRvcDogM3ZoOyB9XG5cbi5tYWluX190aXRsZSB7XG4gIHdpZHRoOiAxMDAlO1xuICBmb250LWZhbWlseTogTW9udHNlcnJhdDtcbiAgZm9udC1zaXplOiAxLjl2dztcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGNvbG9yOiAjMDIxMTllOyB9XG5cbi5tYWluX190ZXh0IHtcbiAgd2lkdGg6IDkwJTtcbiAgbWFyZ2luLXRvcDogOHZoO1xuICBmb250LWZhbWlseTogTW9udHNlcnJhdDtcbiAgZm9udC1zaXplOiAxdnc7XG4gIGNvbG9yOiAjNDA0OTY2O1xuICBsaW5lLWhlaWdodDogMzZweDtcbiAgYW5pbWF0aW9uLW5hbWU6IHNob3c7XG4gIGFuaW1hdGlvbi1kdXJhdGlvbjogM3M7IH1cblxuLm1haW5fX3RleHQtc3R5bGUge1xuICB3aWR0aDogOTAlO1xuICBtYXJnaW4tdG9wOiAyNXZoO1xuICBmb250LWZhbWlseTogTW9udHNlcnJhdDtcbiAgZm9udC1zaXplOiAxdnc7XG4gIGZvbnQtd2VpZ2h0OiBib2xkO1xuICBjb2xvcjogIzAyMTE5ZTtcbiAgYW5pbWF0aW9uLW5hbWU6IHNob3c7XG4gIGFuaW1hdGlvbi1kdXJhdGlvbjogNHM7IH1cbiAgLm1haW5fX3RleHQtc3R5bGUgYSB7XG4gICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xuICAgIGNvbG9yOiAjMDIxMTllOyB9XG4gICAgLm1haW5fX3RleHQtc3R5bGUgYTpob3ZlciB7XG4gICAgICBjb2xvcjogIzAyMTE5ZTsgfVxuXG5AbWVkaWEgKG1heC13aWR0aDogNDE0cHgpIHtcbiAgLnJvdyB7XG4gICAgaGVpZ2h0OiAxMDAlOyB9XG4gIC5tb2JpbGVfX2NvbnRhaW5lciB7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoMCwgLTE1MCUpO1xuICAgIG1hcmdpbi10b3A6IDEwdmg7XG4gICAgaGVpZ2h0OiAzMHZoO1xuICAgIHdpZHRoOiAxMDB2dztcbiAgICBkaXNwbGF5OiBmbGV4O1xuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XG4gICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjsgfVxuICAubWFpbl9fdGl0bGUge1xuICAgIGZvbnQtc2l6ZTogMzZweDtcbiAgICBjb2xvcjogd2hpdGU7XG4gICAgdGV4dC1hbGlnbjogY2VudGVyO1xuICAgIGRpc3BsYXk6IGlubGluZS1ibG9jazsgfVxuICAubWFpbl9fdGV4dCB7XG4gICAgZm9udC1zaXplOiAxNnB4O1xuICAgIGNvbG9yOiB3aGl0ZTtcbiAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XG4gICAgZGlzcGxheTogaW5saW5lLWJsb2NrO1xuICAgIHdpZHRoOiA3NSU7IH0gfVxuXG4uZm9vdGVyX19zdHlsZSB7XG4gIG1hcmdpbi10b3A6IDN2aDtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjsgfVxuXG4uZm9vdGVyX19sb2dvIHtcbiAgaGVpZ2h0OiAzdmg7XG4gIGRpc3BsYXk6IGJsb2NrO1xuICBwYWRkaW5nLXJpZ2h0OiA0dnc7IH1cblxuLmZvb3Rlcl9fdGV4dC1zdHlsZSB7XG4gIGZvbnQtZmFtaWx5OiBNb250c2VycmF0O1xuICBmb250LXNpemU6IDF2dztcbiAgZm9udC13ZWlnaHQ6IGJvbGQ7XG4gIGNvbG9yOiAjMDIxMTllOyB9XG5cbi5wb3B1cC1jb250YWluZXIge1xuICB3aWR0aDogMzAlO1xuICBiYWNrZ3JvdW5kLWNvbG9yOiByZ2JhKDI1NSwgMjU1LCAyNTUsIDAuOSk7XG4gIGRpc3BsYXk6IG5vbmU7XG4gIGp1c3RpZnktY29udGVudDogY2VuZXRlcjtcbiAgYWxpZ24taXRlbXM6IGNlbmV0ZXI7XG4gIHBvc2l0aW9uOiBhYnNvbHV0ZTtcbiAgdG9wOiA1MCU7XG4gIGxlZnQ6IDY4JTtcbiAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUwJSwgLTUwJSk7XG4gIGJvcmRlcjogMC4ydncgc29saWQgYmxhY2s7XG4gIGJvcmRlci1yYWRpdXM6IDEwcHg7XG4gIHBhZGRpbmc6IDJ2aDtcbiAgZm9udC1mYW1pbHk6IE1vbnRzZXJyYXQ7XG4gIGZvbnQtc2l6ZTogMXZ3O1xuICBjb2xvcjogIzQwNDk2NjtcbiAgYW5pbWF0aW9uLW5hbWU6IHNob3ctZm9ybTtcbiAgYW5pbWF0aW9uLWR1cmF0aW9uOiAzczsgfVxuXG5AbWVkaWEgKG1heC13aWR0aDogNDE0cHgpIHtcbiAgLnBvcHVwLWNvbnRhaW5lciB7XG4gICAgZGlzcGxheTogbm9uZTsgfSB9XG5cbi5sb2dvLWNvbnRhaW5lciB7XG4gIGhlaWdodDogMTAwJTtcbiAgaGVpZ2h0OiAxMDB2aDsgfVxuXG4ubG9nb19fc3R5bGUge1xuICB3aWR0aDogMTAwJTtcbiAgaGVpZ2h0OiAxMDAlO1xuICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gcmlnaHQgdG9wLCAjMjkyM2VmLCAjMjAxZWRiLCAjMTcxOWM3LCAjMGMxNGI0LCAjMDEwZmExKTtcbiAgZGlzcGxheTogZmxleDtcbiAgYWxpZ24taXRlbXM6IGNlbnRlcjtcbiAganVzdGlmeS1jb250ZW50OiBjZW50ZXI7XG4gIHBvc2l0aW9uOiByZWxhdGl2ZTsgfVxuICAubG9nb19fc3R5bGU6OmJlZm9yZSB7XG4gICAgY29udGVudDogXCJcIjtcbiAgICBwb3NpdGlvbjogYWJzb2x1dGU7XG4gICAgaGVpZ2h0OiAzMHB4O1xuICAgIHdpZHRoOiAzMHB4O1xuICAgIGJhY2tncm91bmQtY29sb3I6ICM0Y2Q2Mzk7XG4gICAgYm9yZGVyLXJhZGl1czogNTAlO1xuICAgIGxlZnQ6IDA7XG4gICAgdG9wOiAyNS44dmg7XG4gICAgdHJhbnNmb3JtOiB0cmFuc2xhdGUoLTUxJSwgMCk7IH1cblxuLmxvZ29fX3N0eWxlLWltZyB7XG4gIGhlaWdodDogNTB2aDsgfVxuXG5AbWVkaWEgKG1heC13aWR0aDogNDE0cHgpIHtcbiAgLmxvZ28tY29udGFpbmVyIHtcbiAgICBiYWNrZ3JvdW5kOiBub25lO1xuICAgIGhlaWdodDogODB2aDtcbiAgICB3aWR0aDogMTAwJTsgfVxuICAubG9nb19fc3R5bGUtaW1nIHtcbiAgICBoZWlnaHQ6IDQ1JTtcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgwLCAtNTAlKTsgfSB9XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA0MTRweCkge1xuICAubG9nb19fc3R5bGU6OmJlZm9yZSB7XG4gICAgZGlzcGxheTogbm9uZTsgfSB9XG5cbi5zaG93LW9uLWRlc2t0b3Atb25seSB7XG4gIGRpc3BsYXk6IG5vbmU7IH1cbiAgQG1lZGlhIChtaW4td2lkdGg6IDc2OHB4KSB7XG4gICAgLnNob3ctb24tZGVza3RvcC1vbmx5IHtcbiAgICAgIGRpc3BsYXk6IGJsb2NrOyB9IH1cblxuLnRleHRfX2dyZWVuIHtcbiAgY29sb3I6ICM0Y2Q2Mzk7XG4gIGZvbnQtd2VpZ2h0OiBib2xkOyB9XG5cbi50ZXh0X19ibHVlIHtcbiAgY29sb3I6ICMwMjExOWU7XG4gIGZvbnQtd2VpZ2h0OiBib2xkOyB9XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA0MTRweCkge1xuICAucm93IHtcbiAgICBiYWNrZ3JvdW5kOiBsaW5lYXItZ3JhZGllbnQodG8gcmlnaHQgdG9wLCAjMjkyM2VmLCAjMjAxZWRiLCAjMTcxOWM3LCAjMGMxNGI0LCAjMDEwZmExKTsgfVxuICAudGV4dF9fYmx1ZSB7XG4gICAgY29sb3I6IHdoaXRlOyB9IH1cblxuQGtleWZyYW1lcyBzaG93IHtcbiAgZnJvbSB7XG4gICAgb3BhY2l0eTogMDtcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZSgwLCA1MCUpOyB9XG4gIHRvIHtcbiAgICBvcGFjaXR5OiAxOyB9IH1cblxuQGtleWZyYW1lcyBzaG93LWZvcm0ge1xuICBmcm9tIHtcbiAgICBvcGFjaXR5OiAwOyB9XG4gIHRvIHtcbiAgICBvcGFjaXR5OiAxOyB9IH1cblxuKiB7XG4gIGJveC1zaXppbmc6IGJvcmRlci1ib3g7XG4gIG1hcmdpbjogMDtcbiAgcGFkZGluZzogMDsgfVxuIl19 */
