.footer__style {
    margin-top: 3vh;
    display: flex;
    align-items: center;
}

.footer__logo {
    height: 3vh;
    display: block;
    padding-right: 4vw;
}

.footer__text-style {
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: bold;
    color: $color-blue;
}