.logo__style {
    width: 100%;
    height: 100vh;
    background: $custom-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 3vh;
        width: 1.6vw;
        background-color: $color-green;
        border-radius: 50%;
        left: 0;
        top: 25.8vh;
        transform: translate(-51%, 0);
    }
}

.logo__style-img {
    height: 50vh;
}