.logo-container {
    height: 100%;
    height: 100vh;
}

.logo__style {
    width: 100%;
    height: 100%;
    background: $custom-gradient;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        height: 30px;
        width: 30px;
        background-color: $color-green;
        border-radius: 50%;
        left: 0;
        top: 25.8vh;
        transform: translate(-51%, 0);
    }
}

.logo__style-img {
    height: 50vh;
}

@media(max-width: 414px) {
    .logo-container {
        background: none;
        height: 80vh;
        width: 100%;
    }

    .logo__style-img {
        height: 45%;
        transform: translate(0, -50%);
    }
}

@media(max-width: 414px) {
    .logo__style {
        &::before {
            display: none
        }
    }
}