.main__title {
    width: 100%;
    font-family: Montserrat;
    font-size: 1.9vw;
    font-weight: bold;
    color: $color-blue;
}

.main__text {
    width: 90%;
    margin-top: 8vh;
    font-family: Montserrat;
    font-size: 1vw;
    color: $font-color;
    line-height: 36px;
    margin-bottom: 30vh;
}

.main__text-style {
    width: 90%;
    font-family: Montserrat;
    font-size: 1vw;
    font-weight: bold;
    color: $color-blue;

    a {
        text-decoration: none;
        color: $color-blue;

        &:hover {
            color: $color-blue;
        }
    }
}