.show-on-desktop-only {
    display: none;

    @media(min-width: 768px) {
        display: block;
    }
}

.text__green {
    color: $color-green;
    font-weight: bold;
}

.text__blue {
    color: $color-blue;
    font-weight: bold;
}

@media(max-width: 414px) {
    .row {
        background: $custom-gradient;
    }

    .text__blue {
        color: white;
    }
}