@import "./vars";
@import "./logoStyle";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.text__green {
    color: $color-green;
    font-weight: bold;
}

.text__blue {
    color: $color-blue;
    font-weight: bold;
}